// Variables
$font-primary: "HelveticaNeue", "Helvetica", Arial, sans-serif;
$font-secondary: Georgia, Times, "Times New Roman", serif;

$font-light: 300;
$font-regular: 400;
$font-semi: 600;
$font-bold: 800;