<div class="row" id="colors" data-magellan-target="colors">
	<div class="medium-12 columns">
		<h2>Colors</h2>
		<div class="small-up-2 medium-up-5">
			<div class="column box primary-color">
				<h5>Primary</h5>
				<p>$primary-color</p>
				<p>#2199e8</p>
			</div>
			<div class="column box secondary-color">
				<h5>Secondary</h5>
				<p>$secondary-color</p>
				<p>#777</p>
			</div>
			<div class="column box success-color">
				<h5>Success</h5>
				<p>$success-color</p>
				<p>#3adb76</p>
			</div>
			<div class="column box warning-color">
				<h5>Warning</h5>
				<p>$warning-color</p>
				<p>#ffae00</p>
			</div>
			<div class="column box alert-color">
				<h5>Success</h5>
				<p>$alert-color</p>
				<p>#ec5840</p>
			</div>
			<div class="column box light-gray">
				<h5>Light Gray</h5>
				<p>$light-gray</p>
				<p>#e6e6e6</p>
			</div>
			<div class="column box medium-gray">
				<h5>Medium Gray</h5>
				<p>$medium-gray</p>
				<p>#cacaca</p>
			</div>
			<div class="column box dark-gray">
				<h5>Dark Gray</h5>
				<p>$dark-gray</p>
				<p>#8a8a8a</p>
			</div>
			<div class="column box black">
				<h5>Black</h5>
				<p>$black</p>
				<p>#0a0a0a</p>
			</div>
			<div class="column box white">
				<h5>White</h5>
				<p>$white</p>
				<p>#fefefe</p>
			</div>
		</div>
	</div>
</div><!-- #colors -->
<hr>