<div class="row" id="forms" data-magellan-target="forms">
	<div class="columns">
	<h2>Forms</h2>
		<form>
			<div class="row">
				<div class="medium-12 columns">
					<label>Input Label</label>
						<input type="text" placeholder="large-12.columns" />
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label for="">Input Label</label>
						<input type="text" placeholder="large-6.columns" />
				</div>
				<div class="large-6 columns">
					<label>Input Label</label>
						<input type="text" placeholder="large-6.columns" />
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label>Select Box</label>
						<select>
							<option value="element 1">element 1</option>
							<option value="element 2">element 2</option>
							<option value="element 3">element 3</option>
							<option value="element 4">element 4</option>
						</select>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<label>Choose Your Favorite</label>
					<input type="radio" name="radio1" value="Radio 1"><label>Radio 1</label>
					<input type="radio" name="radio2" value="Radio 2"><label>Radio 2</label>
				</div>
				<div class="large-6 columns">
					<label>Check these out</label>
					<input type="checkbox"><label>Checkbox 1</label>
					<input type="checkbox"><label>Checkbox 2</label>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label>Textarea Label</label>
					<textarea cols="30" rows="5" placeholder="small-12.columns"></textarea>
				</div>
			</div>
		</form>
	</div>
</div>