<div class="row" id="logo" data-magellan-target="logo">
	<div class="medium-12 columns">
		<h2>Logo</h2>
		<div class="row align-middle">
			<div class="medium-6 columns">
				<svg height="150" width="200">
					<rect fill="#e6e6e6" x="0" y="0" rx="5" ry="5" width="200" height="150"></rect>
					<text x="100" y="75" fill="#8a8a8a" font-size="21" text-anchor="middle" alignment-baseline="central">Logo SVG</text>
				</svg>
			</div>
			<div class="medium-6 columns">
				<h1>Logo</h1>
			</div>
		</div>
			
	</div>
</div><!-- #logo -->
<hr>