<div class="row"  id="typography" data-magellan-target="typography">
	<div class="columns">
		<h2>Typography</h2>
		<div class="row">
			<div class="medium-6 columns font-primary">
				<p class="light">Helvetica Light</p>
				<p class="regular">Helvetica Regular</p>
				<p class="semi">Helvetica Semi-Bold</p>
				<p class="bold">Helvetica Bold</p>
			</div>
			<div class="medium-6 columns font-secondary">
				<p class="light">Georgia Light</p>
				<p class="regular">Georgia Regular</p>
				<p class="semi">Georgia Semi-Bold</p>
				<p class="bold">Georgia Bold</p>
			</div>
		</div>
	</div>
</div><!-- #typography -->
<hr>